<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="language" content="NL">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'components/nav.html.twig' with {navType:navType} %}
        <div class="content" role="main">
            {% block body %}{% endblock %}
        </div>
        {% include 'components/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
        {# determine navigation type #}
        {% if navType is defined %}
            {% if navType == "header"%}
                <script type="module" src="{{ asset('scripts/navcolour.js') }}"></script>
            {% endif %}
        {% endif %}
        <script type="module" src="{{ asset('scripts/navresponsive.js') }}"></script>
    </body>
</html>